In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [7]:
df = pd.read_csv("../data/apple.csv")
df['MA10'] = df['Close'].rolling(10).mean()
df['MA50'] = df['Close'].rolling(50).mean()
df = df.dropna()
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA10,MA50
49,2006-12-11,12.700000,12.757143,12.578571,12.678572,8.582845,124945100,12.898000,11.761714
50,2006-12-12,12.658571,12.691428,12.218572,12.305715,8.330432,256655000,12.817000,11.793943
51,2006-12-13,12.564285,12.724286,12.450000,12.721429,8.611856,214263000,12.777714,11.836714
52,2006-12-14,12.721429,12.857142,12.608571,12.650000,8.563499,208082700,12.733286,11.874343
53,2006-12-15,12.717143,12.745714,12.475715,12.531428,8.483233,184984800,12.681857,11.911171

In [2]:
a = np.array([[1,1,1],[2,2,2],[3,3,3]])
b = np.array([[2,2,2],[2,2,2],[3,3,3]])
print(a * b * a == b * a * b)

[[False False False]
 [ True  True  True]
 [ True  True  True]]